<div class="w-20 h-screen shadow-md bg-oxford-blue fixed" id="sidenavSecExample">
  <div class="text-center">
    <div class="mb-4 pb-4 pt-4 hover:bg-languid-lavender float-none cursor-pointer" (click)="navigate('user')">
      <lucide-icon name="user" class="my-icon"></lucide-icon>
    </div>
    <div class="mb-4 pb-4 pt-4 hover:bg-languid-lavender cursor-pointer" (click)="navigate('')">
      <lucide-icon name="home" class="my-icon"></lucide-icon>
    </div>
    <div class="mb-4 pb-4 pt-4 hover:bg-languid-lavender cursor-pointer" (click)="navigate('games')">
      <lucide-icon name="folders" class="my-icon"></lucide-icon>
    </div>
    <div class="mb-4 pb-4 pt-4 hover:bg-languid-lavender cursor-pointer" (click)="navigate('night-results')">
      <lucide-icon name="calendar-clock" class="my-icon"></lucide-icon>
    </div>
    <div class="mb-4 pb-4 pt-4 hover:bg-languid-lavender cursor-pointer" (click)="signOut()">
      <lucide-icon name="log-out" class="my-icon"></lucide-icon>
    </div>
  </div>
</div>
