<div class="flex flex-row">
  <div class="flex-none"><app-nav></app-nav></div>
  <div class="flex-initial w-full flex-col ml-20">
    <!-- Card User's info -->
    <div class="bg-gray-200 shadow rounded m-20 p-10 flex justify-between">
      <div class="">
        <h4>{{user_pseudo}}</h4>
        <h5>{{user_email}}</h5>
      </div>
      <div class="">
        <h4>Score</h4>
        <h5>{{user_score}}</h5>
      </div>
    </div>
    <!-- Tables -->
    <div class="flex flex-row m-20">
      <!-- History -->
      <div class="bg-gray-200 shadow rounded w-4/6 p-10 mr-1">
        <p>Historique</p>
        <table class="w-full">
          <thead>
          <tr>
            <th class="text-left">Date</th>
            <th class="text-left">Nom</th>
            <th>Score</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let choice of history">
            <td>{{choice.date}}</td>
            <td>{{choice.player_name}}</td>
            <td class="text-center">{{choice.stats.score}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Blacklist -->
      <div class="bg-gray-200 shadow rounded w-2/6 p-10 ml-1">
        <p>Blacklist</p>
        <table class="w-full">
          <thead>
          <tr>
            <th class="text-left">Joueur</th>
            <th class="text-left">Temps restant</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let player of blacklist">
            <td class="text-left">{{player.player_name}}</td>
            <td class="text-left">{{player.days}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
