<div class="h-screen bg-gradient-to-br from-languid-lavender via-medium-orchid to-oxford-blue w-full py-16 px-4">
  <div class="flex flex-col items-center justify-center">
    <div class="bg-white shadow rounded lg:w-1/3  md:w-1/2 w-full p-10 mt-16">
      <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Créer un compte</p>
      <div class="mt-10">
        <form id="login-form" [formGroup]="registerForm">
          <div>
            <label id="email" class="text-sm font-medium leading-none text-gray-800"> Email </label>
            <input formControlName="email" aria-labelledby="email" type="email" class="bg-gray-200 border rounded
             text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"/>
            <div *ngIf="emailMessage" class="mt-3 text-xs text-red-800"><p>{{emailMessage}}</p></div>
          </div>
          <div class="mt-6  w-full">
            <label id="pseudo" class="text-sm font-medium leading-none text-gray-800"> Pseudo </label>
            <input formControlName="pseudo" aria-labelledby="pseudo" type="pseudo" class="bg-gray-200 border rounded
             text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"/>
            <div *ngIf="pseudoMessage" class="mt-3 text-xs text-red-800"><p>{{pseudoMessage}}</p></div>
          </div>
          <div class="mt-6  w-full">
            <label for="password" class="text-sm font-medium leading-none text-gray-800">
              Password
            </label>
            <div class="relative flex items-center justify-center">
              <input formControlName="password" id="password" type="{{passwordInputType}}"
                     class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"/>
            </div>
            <div *ngIf="passwordMessage" class="mt-3 text-xs text-red-800"><p>{{passwordMessage}}</p></div>
          </div>
          <div class="mt-6  w-full">
            <label for="confirmPassword" class="text-sm font-medium leading-none text-gray-800">
              Confirm Password
            </label>
            <div class="relative flex items-center justify-center">
              <input formControlName="confirmPassword" id="confirmPassword" type="{{passwordInputType}}"
                     class="bg-gray-200 border rounded  text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"/>
            </div>
            <div *ngIf="passwordMessage" class="mt-3 text-xs text-red-800"><p>{{passwordMessage}}</p></div>
          </div>
          <div class="mt-8">
            <button role="button"
                    (click)="submit()"
                    class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none
                     text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-4 w-full">
              Créer un compte</button>
          </div>
        </form>
        <div class="flex flex-col items-center justify-center pt-4">
          <p class="text-cyan-700 underline underline-offset-4 cursor-pointer
          hover:text-red-700 hover:underline hover:underline-offset-8" (click)="login()">Déjà un compte ?</p>
        </div>
        <div *ngIf="errorMessage" class="mt-5 text-red-800 text-sm font-medium text-center">
          <p>{{errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

